<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Comments</h2>

<% @article.comments.each do |comment| %>
  <% unless comment.new_record? %>
    <p><strong>Commenter:</strong> <%= comment.commenter %></p>
    <p><strong>Comment:</strong> <%= comment.body_of_the_comment %></p>
    <div style="display: flex; gap: 10px">
    <span><p><%= link_to "Edit", edit_article_comment_path(@article, comment)%></p></span>
    <span><p><%= link_to "Delete", article_comment_path(@article, comment), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  }%></p></span>
    </div>
  <% end %>
<% end %>

<h2>Add a comment:</h2>
<%= render 'comments/form', comment:@comment %>



<%= link_to "Return to Home", articles_path %>
